@import './variables';

@keyframes MoveUpDown {
    0%,
    100% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(50px);
    }
  }
  
  @keyframes Swing {
    0% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(-3deg);
    }
  }
  
  @keyframes Blink {
      0%, 100% {
          transform: scaleY(.0);
      }
      5%,
      95% {
          transform: scaleY(1);
      }
  }


@keyframes popOut{
  0%{
    transform: scale(0);
  }
  80%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}