@import "./variables";

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(35px);
  }
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes blink {
  0%,
  100% {
    transform: scaleY(0);
  }
  5%,
  95% {
    transform: scaleY(1);
  }
}

@keyframes popOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoomToFull {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomToContactOriginal {
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    left: 0;
  }
  

  100% {
    transform: scale(2);
    left: 40%;
    top: -17%;
  }
}

@keyframes zoomToContactPhones {
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    left: 0;
  }
  

  100% {
    transform: scale(2.2);
    left: 35%;
    top: -15%;
  }
}

@keyframes zoomToContactPortrait {
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    left: 0;
  }
  

  100% {
    transform: scale(2.5);
    left: 40%;
    top: -25%;
  }
}

@keyframes zoomToContactLandscape {
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    left: 0;
  }
  

  100% {
    transform: scale(2);
    left: 17%;
    top: -10%;
  }
}


@keyframes zoomToContactLaptops {
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    left: 0;
  }
  

  100% {
    transform: scale(2);
    left: 12%;
    top: -10%;
  }
}

@keyframes zoomToAboutOriginal{
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    right: 0;
  }

  100%{
    transform: scale(2);
    right: 43%;
    top: -15%;
  }
}

@keyframes zoomToAboutLandscape{
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    right: 0;
  }

  100%{
    transform: scale(2.5);
    right: 70%;
    top: 10%;
  }
}



@keyframes zoomToReset {
  0% {
    transform: scale(2);
    left: 0%;
    top: 0%;
  }
  

  100% {
    transform: scale(0), translateX(0);
    top: 0;
    left: 0;
  }
}



@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

