@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(35px);
  }
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes blink {
  0%,
  100% {
    transform: scaleY(0);
  }
  5%,
  95% {
    transform: scaleY(1);
  }
}

@keyframes popOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut{
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeInBottom{
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInTop{
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes moveInLeft {
  0% {
    // opacity: 0;
    transform: translateX(-100vw);
  }

  100% {
    // opacity: 1;
    transform: translateX(0)
  }
}

@keyframes moveInRight {
  0% {
    // opacity: 0;
    transform: translateX(100vw);
  }

  100% {
    // opacity: 1;
    transform: translateX(0)
  }
}

@keyframes moveOutLeft{
  0% {
    // opacity: 1;
    transform: translateX(0);
  }

  100% {
    // opacity: 0;
    transform: translateX(-100vw);
  }
}

@keyframes moveOutRight{
  0% {
    // opacity: 1;
    transform: translateX(0);
  }

  100% {
    // opacity: 0;
    transform: translateX(100vw);
  }
}


// @keyfr

@keyframes zoomToFull {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomToContactOriginal {
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    left: 0;
  }
  

  100% {
    transform: scale(2);
    left: 40%;
    top: -25%;
  }
}

@keyframes zoomToContactPhones {
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    left: 0;
  }
  

  100% {
    transform: scale(2.2);
    left: 35%;
    top: -15%;
  }
}

@keyframes zoomToContactPortrait {
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    left: 0;
  }
  

  100% {
    transform: scale(2.5);
    left: 40%;
    top: -25%;
  }
}

@keyframes zoomToContactLandscape {
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    left: 0;
  }
  

  100% {
    transform: scale(2);
    left: 17%;
    top: -10%;
  }
}


@keyframes zoomToContactLaptops {
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    left: 0;
  }
  

  100% {
    transform: scale(2);
    left: 12%;
    top: -10%;
  }
}

@keyframes zoomToAboutOriginal{
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    right: 0;
  }

  100%{
    transform: scale(2);
    right: 60%;
    top: -25%;
  }
}

@keyframes zoomToAboutPhones{
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    right: 0;
  }

  100%{
    transform: scale(2.2);
    right: 35%;
    top: -25%;
  }
}

@keyframes zoomToAboutLandscape{
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    right: 0;
  }

  100%{
    transform: scale(2.5);
    right: 70%;
    top: 10%;
  }
}



@keyframes zoomToReset {
  0% {
    transform: scale(2);
    left: 0%;
    top: 0%;
  }
  

  100% {
    transform: scale(0), translateX(0);
    top: 0;
    left: 0;
  }
}


@keyframes zoomToTrashQueen{
  0% {
    transform: scale(1), translateX(0);
    top: 0;
    right: 0;
  }

  100%{
    transform: scale(2);
    right: 20%;
    top: 20%;
  }
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}



@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeInOut{
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

