// animation classes
.animation-fadeIn {
  animation: fadeIn 1s ease-in-out forwards !important;
}

.animate-fadeInBottom{
  animation: fadeInBottom 1s ease-in-out forwards !important;
}

.animate-fadeInTop{
  animation: fadeInTop 1s ease-in-out forwards !important;
}

.animate-fadeOut{
  animation: fadeOut 1s ease-in-out forwards !important;
}

.animate-moveInLeft{
  animation: moveInLeft 1s ease-in-out backwards !important;
}

.animate-moveInRight{
  animation: moveInRight 1s ease-in-out backwards !important;
}

.animate-moveOutLeft{
  animation: moveOutLeft 1s ease-in-out forwards !important;
}

.animate-moveOutRight{
  animation: moveOutRight 1s ease-in-out forwards !important;
}

// text-alignment
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// pointers

.pointer-none {
  pointer-events: none;
  cursor: auto;
}
