
$color-beige:#FFF3E0;
$color-light-orange: #FFDFAC;
$color-soft-orange: #FFC872;
$color-turquoise: #0AC4B2;
$color-white: #FFFFFF;
$color-white-variant: #e2dfdf;
$color-black: #000000;
$color-soft-purple: #4D3F63;
$color-dark-purple: #11072D;

$font-size-big: 1.4vw;
$font-size-medium: 1.25vw;
$font-size-small: 0.75rem;
$font-size-xs-small: 0.4rem;
